    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <title>Transfer Money</title>

        <!-- Bootstrap -->
        <!--<link rel="stylesheet" href="css/responsive.css">-->
        <link href="../public/css/bootstrap.min.css" rel="stylesheet">
        <link href="../public/css/common.css" rel="stylesheet">
         <link rel="stylesheet"  href="../public/css/sendmoney.css" />
          <script src="../public/components/html5shiv/dist/html5shiv.min.js"></script>
          <script src="../public/components/respond/dest/respond.min.js"></script>

      </head>
      <body>
        <nav>
            <p>
                <!--<span>-->
                    <!--<button class="btn btn-default" style="width:100px;" onclick="window.location.href='/views/index.html';" form="transdetails">home</button>-->
                <!--</span>-->
                <!--<span>-->
                   <strong>Send Money</strong>
                <!--</span>-->

            </p>
        </nav>
        <div class="container body">

            <div class="screenCenter">
                <div id="overlay" class="overlay-hide"><img id = "myImage" src = "../public/images/ajax-loader.gif"></div>
                <form id="transdetails">

                    <!--<div class="form-group">
                        <input class="form-control" type="text" placeholder="Email">
                        <span class="label">To:</span>
                    </div>-->
                   <div class="input-group email-text-box">
                      <span class="input-group-addon">To:</span>
                      <input type="text" class="form-control" id="email" placeholder="john@henry.com" style="border-left:0px;" required pattern="[^ @]*@[^ @]*">

                   </div>

                    <div class="input-group input-group-class">
                        <span class="input-group-addon"  style="text-align:left;width:20%;">Amount:</span>
                          <div class="input-group-btn dropdown" style="width:80%">
                                <input type="number" id="currency_value" class="form-control" placeholder="$00.00"  required>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    USD<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-position drop-down-position-custom" role="menu">
                                  <li><a href="#" data-value="USD">USD</a></li>
                                  <li><a href="#" data-value="EUR">EUR</a></li>
                                  <li><a href="#" data-value="JPY">JPY</a></li>
                                </ul>
                          </div>
                    </div>
                    <br/>
                        <textarea class="form-control" placeholder="Message (optional)"></textarea><br/>
                            <p>
                                What's the payment for:
                                <div class="rb controls">
                                    <div class="rb-success">
                                        <input type="radio" name="radio" id="rd1">
                                        <label for="rd1">I'm sending money to family or friends</label>
                                    </div>
                                    <div class="rb-success">
                                        <input type="radio"  name="radio" id="rd2">
                                        <label for="rd2">I'm paying for goods or services</label>
                                    </div>
                                </div>
                            </p>
                </form>
            </div>
        </div>

        <footer class="footer">
          <div class="container">
           <form class="form-inline footer-class">
              <p></p>
              <button class="btn btn-default" style="width:100px;" onclick="location.reload();" form="transdetails">Clear</button>
              <button type="submit" class="btn btn-default"  id="btn_next" style="width:100px;float:right;" form="transdetails" >Next</button>
            </form>
          </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="../public/js/bootstrap.min.js"></script>
        <script src="../public/js/payments.js"></script>
      </body>
    </html>